<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Team</title>
    <link rel="stylesheet" href="/public/css/style.css " />
  </head>
  <body>
    <h1>Simple Node JS Site</h1>
    <header>
      <nav>
        <ul>
          <li><a href="/views/home.html">Home</a></li>
          <li><a href="/views/about.html">About</a></li>
          <li><a href="/views/team.html">Team</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <h2>Our Team</h2>

      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae tenetur
        quia sit fugiat minus voluptatibus repudiandae? Ducimus necessitatibus
        neque quae facilis expedita? Officiis nemo ipsum cumque nisi nobis
        sapiente enim! Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Voluptas, facere. Recusandae deleniti natus magnam ea rem debitis,
        dolorum unde, ad, minima quia consectetur est quos suscipit a quidem!
        Ab, similique? Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Adipisci deleniti aut, neque eveniet necessitatibus hic assumenda
        recusandae sit nemo minima dolores iusto ratione, eligendi sed? Nemo
        eius mollitia quasi quos. Quibusdam, accusamus unde cum quod explicabo
        vero harum aut hic sint ducimus optio recusandae omnis aliquam
        repellendus commodi similique esse veritatis dolores ratione totam
        debitis. Veritatis amet ullam cumque labore. Eius fuga officiis, quos
        dignissimos consectetur odio at architecto pariatur expedita. Aut
        adipisci odit dignissimos suscipit aspernatur tenetur exercitationem
        dolore commodi corrupti optio. Quae quidem dolorem cupiditate sapiente
        eum reprehenderit.
      </p>
    </main>

    <footer>
      <p>Simple Node Js Site &copy; <span id="year "></span></p>
    </footer>

    <script>
      document.getElementById("year").textContent = new Date().getFullYear();
    </script>
  </body>
</html>
